package views

import "github.com/tiredkangaroo/keylock/web/layouts"

templ Home(name string) {
	@layouts.BaseLayout() {
		<div class="w-full h-full justify-center align-center">
			<div class="bg-blue-400">
				good morning, { name }!
			</div>
		</div>
	}
}
