package views

import "github.com/tiredkangaroo/keylock/web/layouts"

templ Login() {
	@layouts.BaseLayout() {
		<div class="w-full h-full flex flex-col justify-center items-center">
			login page
		</div>
	}
}
